.parent {
  display: flex;
  padding: 10px;
  gap: 10px;
}

@media only screen and (max-width: 1000px) {
  .parent {
    flex-direction: column-reverse;
  }
}

.dataViewer {
  min-width: 200px;
}

.menu {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.menu > button {
  border: none;
  background-color: #272727;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.selectItem {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.selectItem:focus {
  border-bottom: 1px solid #333;
}
.selectItem:focus-visible {
  outline: none;
}

.selectItem option {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.selectItem option:hover {
  background: #ccc;
}

.selectItem option:focus {
  background: #ccc;
}

.selectItem option:focus-visible {
  outline: none;
}

/* making the option holder border radius 10 px */
.selectItem select {
  border-radius: 10px;
}

.addLabelButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addLabelButton:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

.addLabelButton:focus {
  outline: none;
}

.addLabelButton:focus-visible {
  outline: none;
}

/* style={{
    background: "rgba(0, 0, 0, 0.3)",
    borderRadius: 3,
    position: "absolute",
    left: `0`,
    top: `0`,
    color: "black",
    padding: "5px ",
    display: "flex",
    gap: "10px",
    flexDirection: "column",
    alignItems: "flex-end",
    width: "100px"
  }} */

.holder {
  border-radius: 5px;
  position: absolute;
  color: black;
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  width: 150px;
  z-index: 100;
}

.deleteAnnotationButton {
  background-color: rgb(105, 28, 28);
  border: 2px solid #ff1100;
  border-radius: 2px;
  color: rgb(247, 244, 244);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  position: absolute;
  z-index: 1000;
  right: -10px;
  top: -10px;
  font-weight: bold;
}

.downloadButton {
  border: 1px solid #878787;
  margin: 10px 0;
  background-color: rgb(31, 31, 31);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: rgb(21, 21, 21);
  color: #3e8e41;
}

.downloadButton:focus {
  outline: none;
}

.downloadButton:focus-visible {
  outline: none;
}

.hoverDiv .hover-info {
  position: absolute;
  padding: 10px;
  background: rgba(9, 3, 40, 0.3);
  border-radius: 2px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}

.dataHolder {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  border-radius: 20px;
  min-width: 300px;
}
.dataItem:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dataItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dataItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 5px;
  min-height: 50px; /* set height according to your need */
}

.dataItemSno {
  flex: 1;
  text-align: center;
  min-width: 50px; /* set width according to your need */
}
.dataItemLabel,
.dataItemValue {
  flex: 3;
  text-align: center;
  min-width: 50px; /* set width according to your need */
}

.dataItem:nth-child(odd) {
  background-color: #1c1c1c;
}

.dataItem:nth-child(even) {
  background-color: #272727;
}

.label-text-for-all {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0.3rem;
  transform: translateY(100%);
  font-size: 0.8rem;
  background-color: #33333374;
  border-radius: 2px;
}
.previewHolder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(12, 13, 30, 0.591);
  backdrop-filter: blur(10px);

  width: 100%;
  height: 100%;
}
.previewHolder img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
